body {
  background-color: #eef5fa;
}
.container {
  width: 960px;
  background-color: #ffffff;
}
#search-form {
  width: 60vw;
}
.job-card {
  background-color: bisque;
  border-radius: 10px;
}
#login-form {
  margin-top: 200px;
}
#edit-form input,
#create-job-form input {
  margin-bottom: 30px;
  width: 270px !important;
}
